/-=-=-=-=-=-==-==-=-=--==-=-=-==-=-=-=-==--=-=
        Basic 
/-=-=-=-=-=-==-==-=-=--==-=-=-==-=-=-=-==--=-=

body {
 background-color: rgb(8, 53, 8);
}

/-=-=-=-=-=-==-==-=-=--==-=-=-==-=-=-=-==--=-=

/-=-=-=-=-=-==-==-=-=--==-=-=-==-=-=-=-==--=-=




.main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

/-=-=-=-=-=-==-==-=-=--==-=-=-==-=-=-=-==--=-=
        NAVi
/-=-=-=-=-=-==-==-=-=--==-=-=-==-=-=-=-==--=-=

.main-nav {
    display: flex;
    flex-direction: row;
}






/-=-=-=-=-=-==-==-=-=--==-=-=-==-=-=-=-==--=-=

/-=-=-=-=-=-==-==-=-=--==-=-=-==-=-=-=-==--=-=

.gallary {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
